<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H & H MIRACLES </title>


</head>
<body>
<div></div>
    <h1>H & H MIRACLES</h1>
<div>
    <h2> WELCOME TO OUR BLOG</h2></div>
<div>
<p> We Help You To Choose The Best </p></div>
<p> We are a group that provides you the things you need the most in an affordable price. Visit the link below to see our selling products. </p>
<div>
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</div>

<h3> WHAT ARE THE SERVICES WE GIVE? </h3>

<div>
<ul><li>FREE DELIVERY</li></ul>
<ul><li>FAST SERVICES</li></ul>
<ul><li>CASHLESS DELIVERIES</li></ul>
<ul><li>PACKING A PRODUCT FROM OUR SHOP AND SURPRISING BY DELIVERING TO THE PERSON YOU WANT</li></ul>
</div><div></div>
<a href="https://djangogirls.org">CLICK HERE</a> TO VIEW OUR PAGE</a>
</body>
</html>